body {
    font-family: 'Oswald', sans-serif;
}

#header {
    display: flex;
    height: 100px;
    background-color: rgb(235, 235, 235);
    align-items: center;
}

h1 {
    margin-left: 50px;
    font-size: 35px;
}

#nav {
    display: flex;
    position: absolute;
    right: 50px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

a:hover {
    color: rgb(108, 108, 108);
}

#welcome {
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

#msg {
    width: 65%;
    font-size: 20px;
    margin: 0 auto;
}